<ng-content select="[label]"></ng-content>
<div *ngIf="label" class="label">
  {{ label }}
</div>
<div  [ngSwitch]="inputType"                  class="input-container"
      [style.borderColor]="inputBorderColor"  [style.color]="colorText"
      [style.backgroundColor]="inputBackgroundColor">
  <div *ngSwitchCase="'file'">
    <dihy-input-file  [(inputClick)]="inputClick"       [multiple]="multiple"
                      (valueChange)="onChange($event)"  [accept]="accept"
                      [placeholder]="placeholder"       [givenFile]="value">
    </dihy-input-file>
  </div>
  <div *ngSwitchCase="'textarea'">
    <dihy-input-textarea  (valueChange)="onChange($event)"  [(inputClick)]="inputClick"
                          [multiple]="multiple"             [placeholder]="placeholder"
                          [split]="split"                   [value]="value"
                          [possibleTokens]="possibleTokens" [token]="token"
                          [disabled]="disabled">
    </dihy-input-textarea>
  </div>
  <div *ngSwitchCase="'text'">
    <dihy-input-text  (valueChange)="onChange($event)"  [(inputClick)]="inputClick"
                      [multiple]="multiple"             [placeholder]="placeholder"
                      [split]="split"                   [value]="value"
                      [possibleTokens]="possibleTokens" [token]="token"
                      [disabled]="disabled">
    </dihy-input-text>
  </div>
  <div *ngSwitchCase="'token'">
    <dihy-input-token (tokensChange)="onChange($event)" [(inputClick)]="inputClick"
                      [multiple]="multiple"             [placeholder]="placeholder"
                      [possibleTokens]="possibleTokens" [tokens]="value"
                      [inputType]="inputType"           [colorSelected]="colorSelected">
    </dihy-input-token>
  </div>
  <div *ngSwitchCase="'boolean'">
    <dihy-input-boolean (valueChange)="onChange($event)"  [placeholder]="placeholder"
                        [disabled]="disabled"             [value]="value"
                        [(inputClick)]="inputClick">
    </dihy-input-boolean>
  </div>
  <div *ngSwitchCase="'number'">
    <dihy-input-number  (valueChange)="onChange($event)"  [placeholder]="placeholder"
                        [disabled]="disabled"             [value]="value"
                        [(inputClick)]="inputClick"       [minVal]="min"
                        [maxVal]="max">
    </dihy-input-number>
  </div>
  <span *ngIf="!inputClick" class="input-click" (click)="inputClick = !inputClick"></span>
</div>
