.cancel-filter {
  position: absolute;
  top: 5px;
  right: 42px;
  cursor: pointer;
  z-index: 21;
}

.input-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  border: #dcdcdc 1px solid;
  border-radius: 6px;
  padding: 4px 12px 4px 12px;
}

.input-container > div {
  height: 100%;
}

.input-click {
  top: 0;
  left: 20px;
  z-index: 20;
  position: absolute;
  width: 75%;
  height: 100%;
  cursor: pointer;
}

.textInput, .textInput:focus {
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
}
