.numberInput, .numberInput:focus {
  text-align: center;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
}

span.icon-container {
  z-index: 21;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]::-moz-inner-spin-button {
  -moz-appearance: none;
}
input[type=number]::-ms-inner-spin-button {
  -ms-appearance: none;
}
input[type=number]::-o-inner-spin-button {
  -o-appearance: none;
}
